:root {
  --ff-roboto: "Roboto", Arial, raleway;
  --ff-raleway: "Raleway", "Times New Roman", raleway;
  --dominant-teal: hsl(181, 99%, 34%);
  --complementary-skyblue: hsl(180, 100%, 95%);
  --complementary-green: hsl(154, 57%, 50%);
  --complementary-green-light: hsl(154, 57%, 95%);
  --gradient: linear-gradient(
    45deg,
    var(--dominant-teal),
    var(--dominant-teal),
    var(--complementary-green)
  );
  --accent-dark: hsl(0, 0%, 15%);
  --accent-light: hsl(0, 0%, 100%);
  --color-white: #ffffff;
  --color-white-dirty: #f3f3f3;
  --color-blue: #202346;
  --color-blue-mid: #677395;
  --color-blue-light: #9aaed1;
  --color-violet: #796086;
  --color-violet-dark: #202346;
  --color-pinkish: #f2e7e8;
  --color-red: #d43a56;
  --color-orange: #b24c3a;
  --color-orange-light: #cf8065;
  --color-brown: #4c2019;
  --color-brown-darker: #3e3330;
  --color-green: #494d37;
  --color-green-light: #aab380;
  --color-green-lighter: #d4d9bf;
  --color-gray: #3c4451;
  --color-gray-light: #83939d;
  --color-disable: hsla(0, 0%, 42%, 0.7);
  --text-header: 4.5rem;
  --text-subheader: 2.25rem;
  --text-lg: 1.5rem;
  --text-md: 1.125rem;
  --text-sm: 1rem;
  --fw-light: 300;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* Scrollbar Customization */
body::-webkit-scrollbar {
  width: 0.7em;
  margin-block: 5rem;
}

body::-webkit-scrollbar-track {
  margin-block: 0.5rem;
  border-radius: 36px;
}

body::-webkit-scrollbar-thumb {
  background: var(--gradient);
  transition: var(--transition);
  border: 1px solid var(--accent-light);
  border-radius: 36px;
}

/* Globals */
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-padding-top: 5.625rem;
  /* overflow-x: hidden; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  font-family: var(--ff-roboto) !important;
  font-weight: var(--fw-normal) !important;
  color: var(--text) !important;
  background-color: var(--background);
}

::selection {
  background: var(--dominant-teal);
  color: var(--accent-light);
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-weight: var(--fw-bold);
  word-wrap: balance;
  line-height: 100% !important;
  margin-bottom: 1.5rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-raleway);
  line-height: 150%;
}

p,
span {
  line-height: 150% !important;
  font-family: var(--ff-roboto) !important;
}

.noscroll {
  overflow: hidden;
}

.underlined {
  border: none !important;
  padding: 0 !important;
}

.underlined:hover {
  text-decoration: underline !important;
}

.border-top-false {
  border: none !important;
}

.mt-7 {
  margin-top: 5rem;
}

/* Header */
li .nav-item,
.call-to-action {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5rem !important;
  transition: var(--transition);
  z-index: 1000;
}

nav.sticky {
  padding: 0.5rem 5rem !important;
  background-color: var(--accent-light);
}

nav .nav-item.sticky {
  color: var(--accent-dark) !important;
}

nav .nav-item.text-white {
  color: var(--accent-light) !important;
}

nav .nav-item {
  font-size: 1rem;
  color: var(--accent-light);
  transition: var(--transition);
  mix-blend-mode: exclusion;
}

.active {
  font-weight: var(--fw-medium);
}

nav .logo p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: var(--fw-semibold);
  line-height: 1;
  z-index: 100;
  color: var(--accent-dark);
}

nav ul.desktop-items {
  display: flex;
  gap: 35px;
}

nav ul.desktop-items .normal-link {
  position: relative;
}

nav ul.desktop-items .normal-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.2em;
  left: 0;
  background: var(--gradient);
  transform-origin: bottom right;
  transition: transform var(--transition);
}

nav ul.desktop-items .normal-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .dropdown-toggle:active,
.dropdown-toggle:focus {
	border: none;
}

nav .btn-group .dropdown-menu {
	height: 12.5em;
	overflow-y: scroll;
}

.dropdown-menu .dropdown-item:active {
	background: none;
} */

.social-accounts {
  display: flex;
  gap: 5px;
}

.social-accounts a {
  height: 2.1875em !important;
  width: 2.1875em !important;
  display: grid;
  place-items: center;
  border-radius: 40%;
  color: var(--accent-light) !important;
  transition: border-radius 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.social-accounts a.facebook {
  background-color: #0765ff;
}

.social-accounts a.instagram {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}

.social-accounts a.tiktok {
  background: hsl(0, 0%, 0%);
}

.social-accounts a.whatsapp {
  background: hsl(129, 62%, 44%);
}

.social-accounts a:hover {
  border-radius: 50%;
}

.social-accounts a svg {
  transition: var(--transition);
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
}
nav .mobile-menu span {
  width: 1.875em;
  height: 0.09375em;
  background-color: var(--accent-dark);
  transition: var(--transition);
}

.open-menu span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10%;
}

.open-menu span:nth-child(2) {
  opacity: 0;
}

.open-menu span:last-child {
  transform: rotate(-45deg);
  transform-origin: 13%;
}

/* Mobile Menu Items */
.mobile-items {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: var(--accent-light);
  z-index: 100;
  transition: transform 500ms ease-in-out;
}

.mobile-items ul {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
}

.mobile-items ul li a {
  font-size: 2rem;
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  color: var(--accent-dark) !important;
}

.mobile-items .social-accounts-mobile {
  padding: 0.625rem;
}

.social-accounts-mobile h6 {
  font-family: var(--ff-roboto);
  display: inline;
  margin-right: 1rem;
  margin-bottom: 0;
}
.social-accounts-mobile a {
  height: 2.5em !important;
  width: 2.5em !important;
  padding: 0.3rem;
  margin-right: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  color: var(--color-white) !important;
  transition: var(--transition);
}

.social-accounts-mobile a.facebook {
  background-color: #0765ff;
}

.social-accounts-mobile a.instagram {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}

.social-accounts-mobile a.tiktok {
  background: hsl(0, 0%, 0%);
}

.social-accounts-mobile a.whatsapp {
  background: hsl(129, 62%, 44%);
}

.social-accounts-mobile a.instagram {
  background-color: #0765ff;
}

/* Hero */
.hero {
  height: 100vh;
  color: var(--accent-light);
}

.hero-elements {
  width: calc(100% - 20rem);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
}
.hero-elements h1 {
  font-family: var(--ff-raleway);
  font-size: 2.3rem;
  font-size: clamp(2.3rem, 1.701408450704225rem + 2.553990610328639vw, 4rem);
  text-wrap: balance;
  font-weight: 700;
  line-height: 1.1;
}

.hero-elements h2 {
  font-family: var(--ff-roboto);
  font-size: 0.75rem;
  font-weight: var(--fw-medium);
  letter-spacing: 2px;
  transform: translateY(-3rem);
}

.hero-elements a:not([href="#exploreMore"]) {
  position: relative;
  top: 1em;
  margin-bottom: 0;
  padding: 1.15rem 2rem;
  display: inline-block;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9583333333333334rem + 0.1851851851851852vw,
    1.125rem
  );
  font-weight: var(--fw-medium);
  background-color: var(--dominant-teal);
  color: var(--accent-light);
  border-radius: 36px;
  transition-delay: 40ms !important;
  transition: background-color var(--transition);
}

.hero a:hover:not([href="#exploreMore"]) {
  background-color: hsl(181, 99%, 38%);
}

.hero .scroll-down {
  position: relative;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  width: 1.125em;
  height: 1.875em;
  display: inline-block;
  top: 6.25em;
  border: 1px solid var(--accent-light);
  border-radius: 36px;
  animation: up-down-fade 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    forwards;
}

.hero .scroll-down::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  background: var(--accent-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 50%;
}

@keyframes up-down-fade {
  from {
    opacity: 0.5;
    top: 6.125em;
  }
  50% {
    opacity: 1;
    top: 6.25em;
  }
  to {
    opacity: 0.5;
    top: 6.125em;
  }
}

.carousel-slider {
  min-width: 2.5em;
  height: 2.5em;
  display: grid;
  place-items: center;
  color: var(--accent-light);
  border: 1px solid var(--accent-light);
  border-radius: 50%;
}

.carousel-control-next,
.carousel-control-prev {
  transition: var(--transition) !important;
}

.countries-home {
  background-color: var(--background);
  position: relative;
  font-family: var(--ff-raleway);
}

/* Tour Package */
.carousel-item {
  color: var(--background);
}

.carousel-item .overlay-img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
}

.carousel-item .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-item .container h1 {
  text-align: center;
  font-size: 3.5rem;
  font-size: clamp(3.5rem, 2.795774647887324rem + 3.004694835680751vw, 5.5rem);
}

/* About */
.sub-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub-hero h1 {
  margin-bottom: 0.75rem;
  color: var(--accent-light);
  font-size: 2.3rem;
  font-size: clamp(2.3rem, 1.701408450704225rem + 2.553990610328639vw, 4rem);
  text-wrap: balance;
  font-family: var(--ff-raleway) !important;
  text-align: center;
}

.bg-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/bg-contact.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-contact p {
  font-family: var(--ff-roboto);
  font-size: 12px;
  font-weight: 500;
  color: var(--accent-light);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.country-section {
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 50px;
  color: var(--accent-light);
}

.country-section .container h1 {
  font-family: var(--ff-raleway);
  font-size: 2.3rem;
  font-size: clamp(2.3rem, 1.701408450704225rem + 2.553990610328639vw, 4rem);
}

.country-section .container p {
  margin: 1rem auto;
  max-width: 70%;
  margin-block: 1.5625rem 1.875rem;
  font-weight: var(--fw-light);
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9559859154929577rem + 0.18779342723004694vw,
    1.125rem
  );
}
.country-section .container a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.country-section .container a span,
.bg-about a span {
  position: relative;
  bottom: -5rem;
  padding-bottom: 0.3125rem;
  color: var(--accent-light);
  transition: var(--transition);
  font-size: 0.875rem;
  animation: up-down-fade 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    forwards;
}

.country-section .container a span::after,
.bg-about a span::after {
  content: "";
  width: 0.0625em;
  height: 2rem;
  background: var(--accent-light);
  position: absolute;
  top: 100%;
  left: 50%;
}

.main-container {
  padding-top: 1.25rem;
}

.main-container .country-places__decrip {
  padding-right: 1.25rem;
  border-right: 1px solid var(--accent-dark);
}

.country-places .mt-2 h2 {
  font-weight: var(--fw-normal);
  font-size: 1.3rem;
  font-size: clamp(1.3rem, 1.2295774647887325rem + 0.300469483568075vw, 1.5rem);
}

.country-place .gallery-container {
  height: 88vh;
  position: sticky;
  top: 4.5625em;
}

.country-place .gallery-container .gallery {
  position: relative;
  height: 100%;
  width: 100%;
}

.country-place .gallery-container .gallery a {
  position: relative;
  display: flex;
  align-items: stretch;
}

.country-place .gallery-container .gallery a .view-img {
  height: 100%;
  width: calc(100% - 1rem);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 20px;
  color: var(--accent-light);
  opacity: 0;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.country-place .gallery-container .gallery a:hover .view-img {
  opacity: 1;
}

.country-place .gallery-container .gallery a .view-img .view-img-content p {
  font-size: 0.75rem;
  margin: 0.5rem 0 0 0;
}

.country-place .gallery-container .gallery a .view-img .view-img-content {
  transform: translateY(5px);
  transition: transform var(--transition);
}

.country-place .gallery-container .gallery a .view-img:hover .view-img-content {
  transform: translateY(0);
}

.country-place .gallery-container .gallery img {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 20px;
  object-fit: cover;
  opacity: 1;
}

/* Contact */

form {
  background-color: var(--complementary-green-light);
}
form .container .form-control,
.css-t3ipsp-control,
.css-13mvri2-control {
  transition: all 200ms ease-in-out !important;
}

.form-control:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 0.25rem hsla(154, 57%, 50%, 0.2) !important;
}

.css-t3ipsp-control,
.css-13mvri2-control {
  border-color: transparent !important;
  box-shadow: 0 0 0 0.25rem hsla(154, 57%, 50%, 0.2) !important;
}

form .container input[type="radio"] {
  accent-color: var(--complementary-green);
}
form .container h2.form-title {
  font-weight: var(--fw-bold);
  color: var(--accent-dark) !important;
}

form .container .form-reminder {
  font-size: 0.8rem;
  color: var(--color-red);
  font-weight: var(--fw-normal) !important;
}

form .container .row .form-container {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--accent-light);
}

form .container label:not([for="group"], [for="private"], [for="joiner"]),
form .container p:not(.form-reminder, .contact-number) {
  font-weight: var(--fw-medium);
  font-size: 0.88rem;
}

form .container input::placeholder,
form .container textarea::placeholder,
form .container p,
form select.form-control {
  font-weight: var(--fw-light);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--complementary-green) !important;
  color: var(--accent-light) !important;
}

form .container button.btn-styled {
  width: 100%;
  padding: 0.625rem 3.125rem;
  font-size: 0.875rem;
  background-color: var(--dominant-teal);
  color: var(--accent-light) !important;
  border-radius: 36px;
  transition: var(--transition);
}

form .container button.btn-styled:hover {
  background-color: var(--complementary-green);
}

form .container button.btn-styled:disabled {
  background-color: hsl(182, 47%, 63%);
  color: var(--accent-dark) !important;
  border: none;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

form .container .quick-links {
  height: fit-content;
  position: sticky !important;
  top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .container .quick-links h6 {
  font-weight: var(--fw-semibold);
}

.accordion-collapse {
  transition: var(--transition);
}

.accordion-button {
  padding: 1rem 2rem;
  font-size: 0.875rem;
  transition: var(--transition);
  background-color: none !important;
  border: 1px solid hsl(180, 3%, 70%);
  color: var(--accent-dark);
}

.accordion-button:hover {
  border: 1px solid var(--accent-dark);
}

.accordion-button:focus {
  border: 1px solid var(--accent-dark) !important;
  box-shadow: none !important;
  color: var(--accent-dark);
}

.accordion-button::after {
  transition: var(--transition);
}

.accordion-button:not(.collapsed) {
  color: var(--accent-dark);
  background-color: var(--accent-light);
}

.accordion-body {
  padding: 2rem;
}

.accordion-body h6 {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-bold) !important;
  font-size: 0.9rem !important;
}

.accordion-body > p,
.accordion-body address,
.accordion-body a {
  font-size: 0.875rem !important;
}

.quick-links a {
  padding: 1rem 2rem;
  font-size: 0.875rem;
  color: var(--accent-dark);
  border: 1px solid hsl(180, 3%, 70%);
  border-radius: 5px;
  cursor: pointer;
  transition: border-color var(--transition);
}

:is(form .container .quick-links a):hover {
  border-color: var(--accent-dark);
}

/* Breakpoints */
/* Tablet */
@media (max-width: 61.99875em) {
  /* Mobile Menu */
  nav {
    padding: 1rem 2.5rem !important;
  }
  .desktop-items .normal-link,
  nav .call-to-action {
    display: none;
  }

  nav .mobile-menu {
    display: flex;
  }

  nav .social-accounts {
    display: none;
  }

  .tour-packages-next-btn,
  .tour-packages-prev-btn {
    bottom: 0;
    transform: translate(-50%, -50%);
    top: 70%;
    transition: var(--transition) !important;
  }

  .hero-next-btn,
  .hero-prev-btn {
    bottom: 0;
    transform: translate(-50%, -50%);
    top: 85%;
    transition: var(--transition) !important;
  }

  .tour-packages-next-btn,
  .hero-next-btn {
    left: 53%;
  }

  .tour-packages-prev-btn,
  .hero-prev-btn {
    left: 47%;
  }

  .hero-elements {
    top: 50%;
  }

  .hero-elements,
  .sub-hero h1,
  .bg-contact p {
    width: calc(100% - 5rem);
  }

  /* About Section */
  .what-we-do .desktop-texts p {
    display: none;
  }

  .what-we-do .mobile-texts {
    display: initial;
  }

  .what-we-do .col-12 img {
    display: none;
  }

  /* Tour Packages/Country */
  .country-place .gallery-mobile-container {
    height: 40vh;
    width: 100%;
    margin: 1.25rem 0;
    position: initial;
  }

  .gallery-mobile-container .carousel-item {
    position: relative;
    width: 100%;
    height: 40vh;
  }

  .gallery-mobile-container .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 1;
  }

  .carousel .carousel-indicators {
    display: initial !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .country-section .container p {
    margin: 1rem auto 2.5rem;
    max-width: 90%;
  }

  form .form-container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/* Mobile */
@media (max-width: 35.99875em) {
  .hero__elements {
    padding: 0 1.875rem !important;
    bottom: 13.125em;
  }

  .hero__elements a {
    padding: 0.625rem 1.25rem;
  }

  .tour-packages-next-btn,
  .hero-next-btn {
    left: 57%;
  }

  .tour-packages-prev-btn,
  .hero-prev-btn {
    left: 43%;
  }

  /* Footer */
  .usable-links {
    flex-direction: column;
    gap: 30px !important;
  }
}
