.slider {
	height: 100vh;
	clip-path: inset(0);
	display: flex;
	overflow: hidden;
}

.slider-image {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	z-index: -1;
}

.slider-image.active {
	opacity: 1;
	animation: slideIn 2s forwards;
}

@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}
