.side-bar-wrapper {
	position: fixed;
	left: 0;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	z-index: 3;
}

.progress-bar-wrapper {
	width: 60vh;
	height: 3.5px;
	margin: 0 0 0 2rem;
	transform: rotate(-90deg);
	transform-origin: 0;
	border: 0.1px solid var(--accent-light);
	border-radius: 36px;
	background-color: var(--accent-dark);
}

.progress-bar-wrapper .progress-bar {
	height: 3.5px;
	background: var(--gradient);
}

.isFullWidth {
	width: 100%;
}

/* Breakpoints */
/* Tablet */
@media (max-width: 61.99875em) {
	.side-bar-wrapper {
		/* bottom: 0.5rem;
		margin: 0 auto; */
		display: none;
	}

	/* .progress-bar-wrapper {
		width: 40vh;
		transform: rotate(0);
	} */
}
